<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Skill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <a href="/">Home</a>
    <a href="/Skills">Back to List</a>
    <h3><%= skill.skill %></h3>
    <h3>Can I do this? <%= skill.done ? 'Yeah, I can.' : 'No' %></h3>
</body>
</html>